extends ../layout

block content
  table(width='100%')
    if widgets.length
      tr
        th(width='200px') SN
        th(width='200px') Name
        th(width='100px') Price
        th Description
        th(width='100px') Delete
    each widget in widgets
        if widget
        include row
